
.card {
align-content: center;
margin-right: 100px;
margin-left: 100px;
}

fieldset {
align-content: center;
margin-top: 50px;
margin-right: 50px;
margin-left: 50px;
margin-bottom: 50px;
}

header {
  margin-bottom:35px;
}

footer {
  align-content: center;
  text-align: center;
  width: 18%;
  margin: 0 auto;
  bottom: 100px;

#buttn {
    align-content: center;

  }

}

.jumbotron {
  align-content: center;
  margin-right: 40px;
  margin-left: 40px;
}

mark.green {
    color:#81CEA2;
    background: none;
}

h1 {
  color: #81CEA2;
}


#myBtn {
  display: block; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #81CEA2; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.7;
}




.fa-facebook {
  color: #81CEA2

}


.fa-instagram {
  color: #81CEA2
}
