
@font-face {
  font-family: "countryside";
  src: url("assets/countryside.ttf");
}

.card {
  align-content: center;
  margin-right: 100px;
  margin-left: 100px;
}

fieldset {
  align-content: center;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
}

header {
  margin-bottom:35px;
}

#footer {
  align-content: center;
  text-align: center;
  width: 18%;
  margin: 0 auto;
}

#recipeHeader {
  align-content: center;
}

#sksk {
  margin-left: 40px;
  margin-right: 40px;
}

#sksk2 {
  margin-left: 40px;
  margin-right: 40px;
}

#apiHeader {
  background-color: #000000;
  align-content: center;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

#table1 {
  height: 300px;
  width: 800px;
}

#table2 {
  height: 300px;
  width: 800px;
}

.searchBox {
  width: 40%;
  margin: 0 auto;
}

#searchAlign {
  height: 40px;
  width: 600px;
}

.jumbotron {
  align-content: center;
  margin-right: 40px;
  margin-left: 40px;
}

table {
  border-collapse: collapse;
  margin-left: 260px;
}

th, td {
  width:150px;
  text-align:center;
  border:1px solid black;
  border-spacing:15px, 15px;
  padding:40px;
}

hr {
  border: none;
  height: 3.5px;
  background-color: #0C323B;
}
